footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-texto;
    padding: 5px;
    background-color: $color-secundario;
    text-align: center;
  
    a {
      display: grid;
      place-items: center;
      text-align: center;
      width: 40%;
      margin: 5px;
    }
  }
  