.menu {
    list-style-type: none;
    text-align: center;
    background-color: $color-secundario;
    padding: 10px 0;
  
    li {
      display: inline-block;
      margin: 10px;
    }
  
    a {
      color: $color-texto;
      text-decoration: none;
      font-size: 25px;
  
      &:hover {
        color: $color-hover;
      }
    }
  }
  