// Colores
$color-primario: #264027;
$color-secundario: #529c42;
$color-fondo-claro: #F5F5DC;
$color-texto: #ffffff;
$color-hover: #ccc;
$color-link: bisque;

// Fuentes
$fuente-principal: "Libre Bodoni", serif;
$fuente-secundaria: "Borel", cursive;

// Tamaños
$espaciado-base: 17px;
$radio-borde: 15px;
