// _variables.scss

// Colores
$primary-color: #264027;
$secondary-color: #529c42;
$background-color: #F5F5DC;
$text-color: #F5F5DC;

// Fuentes
$font-primary: 'Libre Bodoni', serif;
$font-secondary: 'Borel', cursive;

// Tamaños
$font-size-large: 90px;
$font-size-medium: 50px;
$font-size-small: 25px;
